# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.handwritten-number-classifier.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\User\Documents\GitHub\handwritten-number-classifier\handwritten-number-classifier\.idea\.idea.handwritten-number-classifier.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
