# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.handwritten-number-classifier.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Juan\Documents\ws\rider-projects\handwritten-number-classifier\.idea\.idea.handwritten-number-classifier\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
